.site {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.container {
  max-width: var(--width-grid);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--pad-x);
  padding-right: var(--pad-x);
}
