.site-nav {
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  width: 100vw;
  height: 100vh;
  place-content: center;
  background-color: var(--c-primary);
  transform: translateX(100%);
  transition: transform .25s ease-in-out;
  z-index: 98;

  @include up(lg) {
    position: static;
    display: unset;
    width: auto;
    height: auto;
    background-color: transparent;
    transform: none;
  }

  &.-active {
    transform: translateX(0);
  }

  &__toggle {
    position: relative;
    padding: .4rem .8rem;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    appearance: none;
    border: none;
    z-index: 99;

    @include up(lg) {
      display: none;
    }
  }

  &__menu {
    margin: 0;
    padding: 0;

    @include up(lg) {
      display: flex;
    }

    .menu-item {
      padding: 1rem;
      text-align: right;

      @include up(lg) {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
      }

      &:last-of-type {
        @include up(lg) {
          padding-right: 0;
        }
      }

      a,
      span {
        color: var(--c-white);
        font-family: "Eurostile", sans-serif;
        font-size: 1.6rem;
      }

      &.current-menu-item {
        a,
        span {
          color: var(--c-white);
        }
      }
    }
  }
}
