@include fontFace("Eurostile", "../../fonts/Eurostile-Bol", 700);
@include fontFace("Roboto", "../../fonts/Roboto-Regular", 400);
@include fontFace("Roboto", "../../fonts/Roboto-Bold", 700);

html {
  font-size: 62.5%;
}

body {
  color: var(--c-paragraph);
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricprecision;
}

p,
span,
dd,
dt,
figcaption,
hr,
small,
ol,
ul,
li,
blockquote,
kbd,
pre,
samp,
code,
th,
td,
table,
tr,
%default {
  font-size: 1.6rem;
  line-height: 2.3rem;

  @include up(lg) {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

a {
  color: var(--c-primary);
  text-decoration: none;
  transition: color .25s;

  &:hover,
  &:focus {
    color: var(--c-primary);
  }
}

// Heading defaults
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: var(--c-heading);
  font-family: "Eurostile", sans-serif;
  font-weight: 700;
}

h1,
%h1 {
  font-size: 4rem;
  line-height: 4.8rem;

  @include up(md) {
    font-size: 4.6rem;
    line-height: 5.6rem;
  }

  @include up(lg) {
    font-size: 5.6rem;
    line-height: 6.8rem;
  }
}

h2,
%h2 {
  font-size: 3.2rem;
  line-height: 4rem;

  @include up(md) {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
}

h3,
%h3 {
  font-size: 2.4rem;
  line-height: 3rem;

  @include up(lg) {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
}

h4,
%h4 {
  font-size: 1.9rem;
  line-height: 2.3rem;

  @include up(lg) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

h5,
%h5 {
  font-size: 1.7rem;
  line-height: 2.1rem;

  @include up(lg) {
    font-size: 1.9rem;
    line-height: 2.3rem;
  }
}

h1,
h2 {
  margin-bottom: 2.4rem;

  @include up(lg) {
    margin-bottom: 3.2rem;
  }
}

h3,
h4,
h5,
h6 {
  margin-bottom: 1.6rem;

  @include up(lg) {
    margin-bottom: 2.4rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 2.4rem;
  color: var(--c-paragraph);

  @include up(lg) {
    margin-bottom: 4rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
