.button {
  display: block;
  width: auto;
  max-width: max-content;
  padding: 1.2rem 2.4rem 1.1rem;
  color: var(--c-white);
  font-family: var(--ff-main);
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  appearance: none;
  background-color: var(--c-gray-600);
  border: .1rem solid var(--c-gray-600);
  cursor: pointer;
  overflow: hidden;

  @include up(md) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
