// The one and only anchor link that brings user back to top
.top {
  position: fixed;
  right: var(--pad-x);
  bottom: var(--pad-x);
  width: 3rem;
  height: 3rem;
  color: var(--color-black);
  font-size: 1.6rem;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: .5s opacity;
  z-index: 9999;

  @include up(lg) {
    background-color: var(--c-secondary);
  }

  &:hover,
  &:focus {
    background-color: var(--c-blue-700);

    span {
      color: var(--c-white);
    }
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

  span {
    color: var(--c-secondary);

    @include up(lg) {
      color: var(--c-primary);
    }
  }
}
