// For AAA: https://www.color-blindness.com/color-name-hue/
// For AA: https://chir.ag/projects/name-that-color/

@include font("Eurostile", "../../fonts/Eurostile-Bol", 700);
@include font("Roboto", "../../fonts/Roboto-Regular", 400);
@include font("Roboto", "../../fonts/Roboto-Bold", 700);

:root {
  // Layout
  --width-grid: 120rem;
  --pad-x: 2rem;
  --side-margin: calc((100vw - var(--width-grid)) / 2);

  // Color pool
  --c-white: #fff;
  --c-black: #222;
  --c-darkblue: #19253f;
  --c-gray-100: #f3f4f6;
  --c-gray-200: #e5e7eb;
  --c-gray-300: #d1d5db;
  --c-gray-400: #9ca3af;
  --c-gray-500: #6b7280;
  --c-gray-600: #4b5563;
  --c-gray-700: #374151;
  --c-red-400: #c70028;
  --c-primary: var(--c-darkblue);
  --c-heading: var(--c-black);
  --c-paragraph: var(--c-gray-600);

  // Fonts
  --ff-main: "Roboto", sans-serif;
  --ff-heading: "Eurostile", sans-serif;
}
