.big-numbers {
  position: relative;
  top: -4rem;
  width: 90%;
  max-width: var(--width-grid);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -4rem;
  background-color: var(--c-white);
  border: 1px solid var(--c-gray-200);
  z-index: 2;

  @include up(lg) {
    top: -8rem;
  }

  &__numbers {
    display: grid;
    margin: 0;
    padding: 0;
    list-style-type: none;
    place-content: center;

    @include up(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__number {
    padding: 4rem;
    text-align: center;
    border-bottom: .1rem solid var(--c-gray-200);

    @include up(md) {
      border-right: .1rem solid var(--c-gray-200);
      border-bottom: 0;
    }

    @include up(lg) {
      padding: 6rem;
    }

    &:last-of-type {
      @include up(md) {
        border-right: 0;
      }
    }

    &-heading {
      margin-bottom: 0;
      font-size: 3.2rem;

      @include up(lg) {
        font-size: 4.6rem;
      }
    }

    &-subheading {
      display: block;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
    }
  }
}
