.content-image {
  &__container {
    display: grid;
    gap: 3.2rem;

    @include up(md) {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    @include up(lg) {
      gap: 16rem;
    }
  }

  &__content {
    @include up(md) {
      order: 1;
    }
  }
}
