// @import "../../layout/typography";

.block-contact-form {
  // @include up(lg) {
  //   padding-bottom: 16rem;
  // }

  // p,
  // li,
  // a,
  // span,
  // label {
  //   color: var(--c-black);
  // }

  // span,
  // label {
  //   display: block;
  // }
  .wpcf7-form {
    align-items: flex-start;

    // margin-left: 2.1rem;

    @include up(md) {
      margin: -2rem 0 0 5.5rem;
    }

    // input[type="text"],
    // input[type="email"],
    // textarea {
    //   margin-bottom: 1.1rem;
    // }

    // &__input {
    //   margin-bottom: 1rem;
    // }

    // &__label {
    //   margin-bottom: .4rem;
    //   font-size: 1.2rem;
    //   font-weight: 700;
    //   letter-spacing: .05rem;
    //   text-transform: uppercase;
    // }

    &__acceptance-wrapper {
      margin-bottom: 4rem;

      .wpcf7-list-item {
        margin-left: 0;

        & > label {
          display: flex;
          gap: .8rem;
          align-items: center;

          span {
            font-size: 1rem;
          }
        }
      }
    }

    // &__submit {
    //   display: flex;
    //   justify-content: flex-end;

    //   input[type="submit"] {
    //     font-family: var(--ff-main);
    //   }
    // }

    .form-submit-btn {
      align-self: flex-end;
      margin-top: 4rem;

      @include up(md) {
        margin: -5rem 7.1rem 0 0;
      }
    }

    .wpcf7-not-valid-tip {
      margin-top: .5rem;
      color: var(--c-alert);
      font-size: 1.2rem;
      line-height: 1.6rem;
      letter-spacing: .05rem;
    }
  }

  .wpcf7-response-output {
    display: none !important;
    margin: 0 !important;
    padding: 1rem !important;
    font-size: 1.2rem;
    line-height: 1.6rem;
    border: .1rem solid var(--c-alert) !important;
  }

  // .wpcf7-spinner {
  //   position: absolute;
  //   left: 0;
  //   margin: 0;

  //   &::after {
  //     content: "Wysyłam wiadomość" !important;
  //     position: absolute;
  //     left: 3.2rem;
  //     font-size: 1.2rem;
  //     line-height: 1.6rem;
  //   }
  // }

  // &__map {
  //   position: relative;
  //   height: 40rem;
  //   border-radius: .6rem;
  //   overflow: hidden;

  //   @include up(md) {
  //     align-self: flex-end;
  //     height: 52.75rem;
  //   }

  //   @include up(lg) {
  //     height: 54rem;
  //   }

  //   &-iframe {
  //     position: absolute;
  //     left: 0%;
  //     top: -6rem;
  //     width: 100%;
  //     height: 46rem;
  //     border-radius: .6rem;

  //     @include up(md) {
  //       height: 60rem;
  //     }
  //   }
  // }
}
