.contact-form {
  background-color: var(--c-gray-200);

  label {
    display: block;
    margin-bottom: .4rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .05rem;
    text-transform: uppercase;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    margin-bottom: 1.1rem;
    padding: 1rem;
    border: .1rem solid var(--c-gray-300);

    @include up(lg) {
      padding: 2rem;
    }
  }

  input[type="submit"] {
    display: block;
    width: auto;
    max-width: max-content;
    color: var(--c-white);
    font-family: var(--ff-main);
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
  }

  &__input {
    margin-bottom: 1rem;
  }

  .wpcf7-spinner {
    display: none;
  }

  &__container {
    @include up(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__heading {
    grid-column: -1 / 1;
  }
}
