@import "../layout/typography";

.cta {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  background-color: var(--c-gray-600);

  @include up(md) {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }

  &__content {
    margin-bottom: 2.4rem;

    h1,
    h2,
    p,
    a {
      @extend %h1;
      font-weight: 700;
      text-align: center;
    }
  }

  &__button {
    margin: 0 auto;
    color: var(--c-black);
    background-color: var(--c-white);
  }
}
