.services {
  --edge-size: 4rem;
  --edge-size-lg: 6rem;

  background-color: var(--c-gray-100);

  &__content {
    margin-bottom: 4rem;

    @include up(md) {
      max-width: 70rem;
      margin: 0 auto 8rem;
      text-align: center;
    }
  }

  &__grid {
    display: grid;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 3.2rem;

    @include up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__service {
    padding: 1.8rem;
    background-color: var(--c-white);

    @include up(md) {
      padding: 3.2rem;
    }

    @include up(lg) {
      padding: 6.4rem;
    }

    &:nth-of-type(1),
    &:nth-of-type(4) {
      clip-path: polygon(var(--edge-size) 0%, 100% 0, 100% calc(100% - var(--edge-size)), calc(100% - var(--edge-size)) 100%, 0 100%, 0% var(--edge-size));

      @include up(lg) {
        clip-path: polygon(var(--edge-size-lg) 0%, 100% 0, 100% calc(100% - var(--edge-size-lg)), calc(100% - var(--edge-size-lg)) 100%, 0 100%, 0% var(--edge-size-lg));
      }
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      clip-path: polygon(0 0, calc(100% - var(--edge-size)) 0%, 100% var(--edge-size), 100% 100%, 100% 100%, var(--edge-size) 100%, 0% calc(100% - var(--edge-size)), 0 0);

      @include up(lg) {
        clip-path: polygon(0 0, calc(100% - var(--edge-size-lg)) 0%, 100% var(--edge-size-lg), 100% 100%, 100% 100%, var(--edge-size-lg) 100%, 0% calc(100% - var(--edge-size-lg)), 0 0);
      }
    }

    &-media {
      margin-bottom: 2.4rem;

      img {
        width: 3.2rem;
        height: 3.2rem;
      }
    }
  }
}
